@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
         url('../fonts/raleway-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v13-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

h1{font-size:32pt; font-weight: normal;}
h2{font-size:24pt; font-weight: normal; margin:12px 0px;}
h3{font-size:16pt; font-weight: normal; margin:8px 0px;}
h4{font-size:14pt; font-weight: normal; margin:4px 0px;}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;

    --primary-color: #03aa2a;
    --secondary-color: #ace5b9;
    --zebra-color: #d0efd6;;
}

.content{
	max-width: 600px;
	margin: auto;
	text-align: center;
	padding: 0px 0px 15px 0px;
}

.logo{
    max-width: 300px;
    padding: 0px 30px;
    margin: auto;
}

.logo-background {
    background-color: white;
}

.card {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 1px 2px 3px 1px lightgrey;
	margin: auto;
	margin-bottom: 25px;
}

.form-card-row{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	margin: 10px 0px;
	width: 100%;
}

.card-title {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	color: #222;
	font-size: 20px;
	padding: 8px 15px;
	background-color: var(--secondary-color);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.card-title .arrow {
	text-decoration: none;
	color: #555;
	display: block;
}

.card-title .fa:not(.fa-search) {
	text-decoration: none;
	color: #555;
}

.card-content {
	color: #222;
	padding: 8px;
}

.card-content .radio-input-wrapper{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: auto;
}

.card-content input[type=radio]{
	position: absolute;
	height: 0;
	width: 0;
	opacity: 0;
}

.card-content input[type=radio] + label {
	width: 100px;
	font-size: 12px;
	padding: 5px;
	color: #ddd;
	cursor: pointer;
	transition: color .2s ease;
	text-align: center;
}

.card-content input[type=radio] + label .fa {
	font-size: 28px;
	margin: 5px;
}

.card-content input[type=radio]:checked + label {
	color: var(--primary-color);
}

.card-content input[type="submit"]{
	padding: 8px 16px;
	margin: 5px;
	border-width: 0px;
	border-radius: 3px;
	background-color: var(--secondary-color);
	color: #222;
	cursor: pointer;
	font-size: 16px;
}

.card-content table {
	max-width: 100%;
}

.card-content .button-wrapper {
	padding: 5px;
	text-align: right;
}

.order-position {
	padding: 2px 4px;
	margin-bottom: 10px;
	box-shadow: 1px 1px 2px 1px lightgrey;
	border-left: 5px solid var(--secondary-color);
	background-color: white;
}

.order-position-title {
	background-color: var(--secondary-color);
	margin: -4px;
}

.order-position-price {
	color: grey;
	text-align: right;
	//border-top: 1px solid lightgrey;
	padding: 2px;
}

.add-order-position-button {
	color: var(--primary-color);
	cursor: pointer;
	transition: all 0.3s;
	margin-bottom: 10px;
}

.order-total {
	color: grey;
	text-align: right;
	font-size: 12pt;
}

.order-total hr{
	border: 1px dashed lightgrey;
}

.order-form-card{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	//border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 2px 2px 4px 2px lightgrey;
	background-color: #fff;
	margin: auto;
	margin: 20px 10px;
	padding: 10px 15px;
}

.order-form-card-row{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	//border: 1px dashed blue;
	margin: 10px 0px;
	width: 100%;
}

form input{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

input{
	box-sizing:border-box;
}

.flex-100{
	flex-basis: 100px;
	flex-grow: 1;
	flex-shrink: 1;
}

.flex-200{
	flex-basis: 200px;
	flex-grow: 2;
	flex-shrink: 2;
}

.flex-300{
	flex-basis: 300px;
	flex-grow: 3;
	flex-shrink: 3;
}

.card-content label{
	display: block;
	font-size: 12px;
	text-align: left;
	color: #7e9984;
	//border: 1px dotted black;
	margin: 0px 5px;
}

.card-content label input[type="text"]{
	width: 100%;
	padding: 4px 3px;
	border-width: 0px;
	border-bottom: 2px solid var(--secondary-color);
	color: #333;
	background-color: transparent;
}

.card-content label input[type="tel"]{
	width: 100%;
	padding: 4px 5px;
	border-width: 0px;
	border-bottom: 2px solid var(--secondary-color);
	color: #333;
	background-color: transparent;
}

.card-content label select{
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding: 4px 5px;
	border-width: 0px;
	border-bottom: 2px solid var(--secondary-color);
	color: #333;
	background-color: transparent;
}

.card-content label textarea{
	box-sizing:border-box;
	width: 100%;
	margin: 2px;
	resize: none;
	padding: 4px 5px;
	border: 2px solid var(--secondary-color);
	border-radius: 3px;
	color: #333;
}

.card-content form textarea{
	box-sizing:border-box;
	width: 100%;
	margin: 2px;
	resize: none;
	padding: 4px 5px;
	border: 2px solid var(--secondary-color);
	border-radius: 3px;
	color: #333;
}

.hint {
	font-size: 11px;
	color: #888;
	margin: 5px;
}

.ingredient {
	text-align: right;
	margin-top: -5px;
}

input[type="submit"]{
	padding: 10px 20px;
	margin: 20px;
	border-width: 0px;
	border-radius: 3px;
	background-color: var(--primary-color);
	color: white;
	cursor: pointer;
}

input[type="submit"][disabled]{
	background-color: #aaa;
}

#complete_price{
	font-size: 48pt;
	color: var(--primary-color);
}
