form input{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

input{
	box-sizing:border-box;
}

input[type="submit"]{
	padding: 10px 20px;
	margin: 20px;
	border-width: 0px;
	border-radius: 3px;
	background-color: var(--primary-color);
	color: white;
	cursor: pointer;
}

.flex-100{
	flex-basis: 100px;
	flex-grow: 1;
	flex-shrink: 1;
}

.flex-200{
	flex-basis: 200px;
	flex-grow: 2;
	flex-shrink: 2;
}

.flex-300{
	flex-basis: 300px;
	flex-grow: 3;
	flex-shrink: 3;
}

.edit_employee_form label{
	display: block;
	font-size: 12px;
	text-align: left;
	color: #7e9984;
	margin: 0px 5px;
}

.edit_employee_form label input[type="text"]{
	width: 100%;
	padding: 4px 3px;
	border-width: 0px;
	border-bottom: 2px solid var(--secondary-color);
	color: #333;
	background-color: transparent;
}

.edit_employee_form label input[type="email"]{
	width: 100%;
	padding: 4px 5px;
	border-width: 0px;
	border-bottom: 2px solid var(--secondary-color);
	color: #333;
	background-color: transparent;
}

.edit_employee_form label input[type="fon"]{
	width: 100%;
	padding: 4px 5px;
	border-width: 0px;
	border-bottom: 2px solid var(--secondary-color);
	color: #333;
	background-color: transparent;
}

.edit_employee_form label input[type="number"]{
	width: 100%;
	padding: 4px 5px;
	border-width: 0px;
	border-bottom: 2px solid var(--secondary-color);
	color: #333;
	background-color: transparent;
}

.edit_employee_form label input[type="date"]{
	width: 100%;
	padding: 4px 5px;
	border-width: 0px;
	border-bottom: 2px solid var(--secondary-color);
	color: #333;
	background-color: transparent;
}

.edit_employee_form label select{
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding: 4px 5px;
	border-width: 0px;
	border-bottom: 2px solid var(--secondary-color);
	color: #333;
	background-color: transparent;
}

.edit_employee_form label textarea{
	box-sizing:border-box;
	width: 100%;
	margin: 2px;
	resize: none;
	padding: 4px 5px;
	border: 2px solid var(--secondary-color);
	border-radius: 3px;
	color: #333;
}

.card {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 1px 2px 3px 1px lightgrey;
	margin: auto;
	margin-bottom: 25px;
}

.calendar {
	margin: auto;
	max-width: 500px;
}

.card-title {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	color: #222;
	font-size: 20px;
	padding: 8px 15px;
	background-color: var(--secondary-color);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.card-title .arrow {
	text-decoration: none;
	color: #555;
	display: block;
}

.card-title .fa:not(.fa-search) {
	text-decoration: none;
	color: #555;
}

.card-content {
	color: #222;
}

.card-content-form{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	border-radius: 3px;
	box-shadow: 2px 2px 4px 2px lightgrey;
	background-color: #fff;
	margin: auto;
	margin: 20px 10px;
	padding: 10px 15px;
}

.card-content .radio-input-wrapper{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: auto;
}

.card-content input[type=radio]{
	position: absolute;
	height: 0;
	width: 0;
	opacity: 0;
}

.card-content input[type=radio] + label {
	width: 100px;
	font-size: 12px;
	padding: 5px;
	color: #ddd;
	cursor: pointer;
	transition: color .2s ease;
	text-align: center;
}

.card-content input[type=radio] + label .fa {
	font-size: 28px;
	margin: 5px;
}

.card-content input[type=radio]:checked + label {
	color: var(--primary-color);
}

.card-content input[type="submit"]{
	padding: 8px 16px;
	margin: 5px;
	border-width: 0px;
	border-radius: 3px;
	background-color: var(--secondary-color);
	color: #222;
	cursor: pointer;
	font-size: 16px;
}

.card-content table {
	max-width: 100%;
}

.card-content .button-wrapper {
	padding: 5px;
	text-align: right;
}

.card-content form textarea{
	box-sizing:border-box;
	width: 100%;
	margin: 2px;
	resize: none;
	padding: 4px 5px;
	border: 2px solid var(--secondary-color);
	border-radius: 3px;
	color: #333;
}
